@charset "UTF-8";
 body{
  background-image: url(images/indexpage.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  }


h1 {
  margin-left: 8vw;
  margin-top: 11vw;
  margin-bottom: 0px;
  font-weight: lighter;
  color: white;
  font-family: 'Abril Fatface', cursive;
  font-size: 4.8rem;
  animation: text2 1s 1;
}

@keyframes text2 {
  0% {margin-top: 0vw;
  }
  100% {margin-top: 11vw;
}
}

.textShadow {
  letter-spacing: 0.25rem;
  text-shadow: 2px 3px 3px #0D0D0D;

}



.textShadow2{
  animation: fadein 5s;
}

p {
  margin-left: 10vw;
  color: black;
  font-family: 'Nanum Myeongjo', serif;
  /*line-height: 1.4;*/
  font-size: 1.2rem;
  /*text-shadow: 1px 0.5px 0.5px gray;*/
  animation: fadein 3s;

}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.main-nav{
  display: flex;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-top: 54px;
  list-style: none;
}

.main-nav li {
  margin-left: 3rem;
}
.main-nav a {
  color: black;
  font-weight: bold;
}
.main-nav a:hover {
  color: #0bd;
}
.wrapper{
  max-width: 1rem;
  margin-left: 53vw;
  margin-right: 7vw;
}

/*  바이오그래 ----------------------------- */
.textShadow1  {
  margin-left: 7vw;
  margin-top: auto;
  margin-bottom: 0px;
  font-weight: lighter;
  color: white;
  font-family: 'Abril Fatface', cursive;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  text-shadow: 2px 3px 3px #0D0D0D;
  animation: text1 1s 1;
}

@keyframes text1 {
  0% {margin-top: 11vw;
  }
  100% {margin-top: 0vw;
  }
}



.Biographytitle{
  margin-left: 11vw;
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 2rem;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px black;
  animation: fadein 1s;
  font-weight: 400;

}

.Biographytext{
  margin-left: 10vw;
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 2;
  font-size: 1.25rem;
  animation-delay: 1s;
  animation: fadein 2.5s;
  font-weight: 300;
}
/* 가게 정보와 지도 */

.location-info {
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%
}

}
/* 푸터 ----------------------------- */
footer {
 margin-bottom: 3rem;

}

footer p {
  margin-top: 15vw;
  font-size: 1rem;
  color: white;
}
