text-shadow: 1px 1px 1px black;
animation: fadein 1s;
font-weight: 400;

}

.Biographytext{
margin-left: 10vw;
color: white;
font-family: 'Nanum Gothic', sans-serif;
line-height: 2;
font-size: 1.25rem;
animation-delay: 1s;
animation: fadein 2.5s;
font-weight: 300;
}




/* 가게 정보와 지도 */

.location-info {
width: 40%;
display: flex;
justify-content: space-between;
padding-left: 10%;
padding-right: 10%
}



/* 푸터 ----------------------------- */
footer {
margin-bottom: 3rem;

}

footer p {
margin-top: 15vw;
font-size: 1rem;
color: white;
}


.grid {
display: grid;
gap: 26px;
grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
margin-top: 6%;
margin-bottom: 50px;
}







/* 모바일 버전 */
@media (max-width: 600px) {

h1{
font-size: 45px;
margin-left: 4%;
}
 
 .textShadow1  {
  font-size: 2.1rem;
}

p{
font-size: 3.5vw;
